# Python 3.8.0
imageio==1.5.33
matplotlib==3.5.2
natsort==8.1.0
numpy==1.23.5
opencv-python==4.5.5.64
pandas==1.4.2
Pillow==9.1.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
tifffile==2022.5.4

# conda install nvidia/label/cuda-11.6.0::cuda-toolkit
# --extra-index-url https://download.pytorch.org/whl/cu116 --no-cache-dir
torch==1.12+cu116 
torchvision==0.13.0+cu116

tqdm==4.66.3